body {
  background-color: #FFFFFF;
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #11698E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #11698E;
  font-weight: normal;
  margin: 25px auto 50px auto;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11698E;
}

hr {
  border-color: #11698e;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  width: 5%;
  margin: 75px auto 75px auto;
}

a {
  text-decoration: none;
  color: #11698E;
  font-size: 1.25rem;
}

a:hover {
  color: lightBlue;
}

.top-container {
  background-color: #45aaf2;
  width: 100%;
  height: auto;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  background-color: #45aaf2;
  padding: 40px 0;
}

.bottom-cloud {
  width: 18%;
  position: fixed;
  bottom: 300px;
  left: 70px;
}

.top-cloud {
  width: 22%;
  position: fixed;
  top: 400px;
  right: 50px;
}

.balloon {
  width: 20%;
  position: fixed;
  top: 75px;
  left: 15px;
}

.keith-photo {
  border-radius: 100%;
  width: 20%;
  margin: 75px auto 50px auto;
}

.camera-pic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.design-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.globe-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.BUTTON_CNR {
  background: #45aaf2;
  background-image: -webkit-linear-gradient(top, #45aaf2, #11698E);
  background-image: -moz-linear-gradient(top, #45aaf2, #11698E);
  background-image: -ms-linear-gradient(top, #45aaf2, #11698E);
  background-image: -o-linear-gradient(top, #45aaf2, #11698E);
  background-image: -webkit-gradient(to bottom, #45aaf2, #11698E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: Arial;
  width: 150px;
  font-size: 26px;
  font-weight: 100;
  padding: 20px;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.copy {
  color: #FFFFFF;
  font-size: 0.75rem;
  padding: 20px 0 0 0;
}

.intro {
  width: 30%;
  margin: auto;
  text-align: left;
  line-height: 2;
}

.landmarks {
  margin: 100px auto 0 auto;
}
